.counter{
    width: 500px;
    text-align: center;
    padding: 60px;
    
    margin-left: 400px;
    margin-bottom: 220px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}