.footer{
    text-align: center;
    justify-content: safe;
    background-color: black;
    color: aliceblue;
    padding: 20px;
   
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 100px
}